<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymemleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<th:block th:fragment="contentFragment">
    <div class="container">
        <!-- card -->
        <div class="card m-2">
            <div class="card-body">
                <h4 class="card-title">제목 적는 부분</h4>
                <a href="#" class="btn btn-primary">상세보기</a>
            </div>
        </div>
        <!-- -->
        <div class="card m-2">
            <div class="card-body">
                <h4 class="card-title">제목 적는 부분</h4>
                <a href="#" class="btn btn-primary">상세보기</a>
            </div>
        </div>
        <div class="card m-2">
            <div class="card-body">
                <h4 class="card-title">제목 적는 부분</h4>
                <a href="#" class="btn btn-primary">상세보기</a>
            </div>
        </div>
    </div>
</th:block>
</html>