<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymemleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<th:block th:fragment="loginFormFragment">
    <div class="container">
        <form action="/auth/loginProc" method="post">
            <div class="form-group">
                <label for="username">Username:</label>
                <input type="text" name="username" class="form-control" placeholder="Enter username" id="username">
            </div>

            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" name="password" class="form-control" placeholder="Enter password" id="password">
            </div>
<!--            <div class="form-group form-check">-->
<!--                <label class="form-check-label">-->
<!--                    <input name="remember" class="form-check-input" type="checkbox"> Remember me-->
<!--                </label>-->
<!--            </div>-->
            <button id="btn-login" type="submit" class="btn btn-primary">로그인</button>
            <a href="https://kauth.kakao.com/oauth/authorize?client_id=19ad16c65d93f86228a8c9a5d9a4444e&redirect_uri=http://localhost:6109/auth/kakao/callback&response_type=code"><img height="38" src="/image/kakao_login_button.png"></a>
        </form>
    </div>
</th:block>
</html>